<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" type="text/css" href="../static/vendors/bootstrap/css/bootstrap.css" th:href="@{vendors/bootstrap/css/bootstrap.min.css}"/>
</head>

<body>
<div class="container-fluid">
    <div class="row" style="height: 50px;"></div>
    <div class="row">
        <div class="col-md-4 offset-4">
            <div class="card">
                <div class="card-header">
                    <h5>注册</h5>
                </div>
                <div class="card-body">
                    <form id="myForm" th:action="@{/signIn}" th:object="${signInForm}" method="post">
                        <div class="form-group row">
                            <label for="username" class="col-md-2 col-form-label">用户名</label>
                            <div class="col-md-10">
                                <input id="username" name="username" th:field="*{username}" type="text" class="form-control">
                                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password" class="col-md-2 col-form-label">密码</label>
                            <div class="col-md-10">
                                <input id="password" name="password" type="password" th:field="*{password}" class="form-control">
                                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/>
                            </div>
                        </div>
                        <div class="row">
                            <input type="submit" class="btn btn-primary btn-block" value="注册">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>